body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(20deg,#ffccdd, #ff99aa);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 3ex 2ex;
}

.heart-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;
    z-index: 1; /* Damit die Herzen hinter dem Inhalt bleiben */
}

.heart {
    position: absolute;
    top: -50px; 
    font-size: 24px; 
    animation: fall linear infinite;
    opacity: 0.5;
}

/* Herz-Fall-Animation */
@keyframes fall {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

.container {
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 90%;
    max-width: 500px;
    margin: auto;
    margin-left: 2ex;
    margin-right: 2ex;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.hidden {
    display: none;
}

.image {
    max-width: 80%;
    height: auto;
    background: white;
    padding: 10px;
    margin: 2ex;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border: 2px solid #fff;
    transition: transform 0.3s;
}

.image:nth-child(even) {
    transform: rotate(-3deg);
}

.image:nth-child(odd) {
    transform: rotate(3deg);
}

.image:hover {
    transform: rotate(0deg) scale(1.05);
}

.btn {
    background-color: rgb(255, 102, 153);
    color: white;
    border: none;
    padding: 12px 24px;
    margin: 10px auto;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
    width: auto;
    height: 50px;
    display: block;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-color: #ff3366;
    transform: scale(1.05);
}

a.btn {
    background-color: rgb(255, 102, 153);
    color: white;
    border: none;
    padding: 12px 24px;
    margin: 10px auto;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;       
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

a.btn:hover {
    background-color: #ff3366;
    transform: scale(1.05);
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media (max-width: 400px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    .btn {
        font-size: 14px;
        padding: 10px 20px;
        height: auto;
        width: auto;
    }
}
